<div
    class="document"
    style="{{this.style}}"
    {{did-insert this.setup}}
    {{on "mousemove" this.mouseevent}}
    {{on "mouseup" this.mouseevent}}
    {{on "mousedown" this.mouseevent}}
    {{on "wheel" this.wheel}}>
  {{#each @document.fields as |field|}}
    {{#unless field.pending}}
      <Document::Viewport::InteractiveField 
          @field={{field}}
          @onInteraction={{this.interaction}}/>
    {{/unless}}
  {{/each}}

  {{!-- {{#if @isAdding}}
    <div class="new-field-wrapper"
        {{did-insert this.setWrapper}}
        {{will-destroy this.unsetWrapper}} >
      {{#if this.wrapper }}
        {{#each @fields as |field|}}
          {{#if field.pending}}
              <Document::Viewport::GhostField
                  @field={{field}}
                  @parent={{this.wrapper}}
                  @isActive={{@isAdding}}
                  @onFocus={{@onFocus}}
                  @onCommit={{@onCommit}}
                  @onTransform={{@onTransform}}/>
          {{/if}}
        {{/each}}
      {{/if}}
    </div>
  {{/if}} --}}
</div>