<div class="document {{if this.active 'drawing'}}"
     style="{{this.style}}"
     {{did-insert this.setElement}}>

     <Document::GhostField @active={{this.drawing}}
                           @x={{this.drawX}}
                           @y={{this.drawY}}
                           @width={{this.drawWidth}}
                           @height={{this.drawHeight}}
                           @onTransform={{@onTransform}}
                           @onCommit={{@onCommit}}/>

    {{yield}}
</div>