<div class="document {{if @isAdding 'drawing'}}" style="{{this.style}}" >
    {{#each @fields as |field|}}
        {{#unless field.pending}}
            <Document::InteractiveField @field={{field}}
                                        @onTransform={{@onTransform}}/>
        {{/unless}}
    {{/each}}

    {{#if @isAdding}}
        <div class="new-field-wrapper"
             {{did-insert this.setWrapper}}
             {{will-destroy this.unsetWrapper}} >
            {{#if this.wrapper }}
                {{#each @fields as |field|}}
                    {{#if field.pending}}
                        <Document::GhostField @field={{field}}
                                              @parent={{this.wrapper}}
                                              @isActive={{@isAdding}}
                                              @onTransform={{@onTransform}}/>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
    {{/if}}
</div>