<div id="document-viewport" {{did-insert this.setElement}}>
    <Document::Canvas @zoom={{this.zoom}}
                      @document={{@document}}
                      @fields={{@fields}}
                      @isAdding={{@isAdding}}
                      @onCommit={{@onCommit}}
                      @onTransform={{this.transform}} />
</div>