<div id="document-viewport" {{did-insert this.element}}>
    <Document::Background @editable={{true}}
                          @adding={{this.adding}}
                          @zoom={{this.zoom}}
                          @document={{@document}}>
        {{yield}}
    </Document::Background>
</div>